
@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                   <img src="~/Images/Banner/1491192201_1490863291_xe.jpg" />
                    <div class="carousel-caption">
                        <label>CHO THUÊ XE DU LỊCH</label>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/Banner/xe-29.jpg" style="width:1140px; height:330px"/>
                    <div class="carousel-caption">
                        <label>CHO THUÊ XE 29 CHỖ</label>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/Banner/xe-45-cho.jpg"  style="width:1140px; height:330px"/>
                    <div class="carousel-caption">
                        <label>CHO THUÊ XE 50 CHỖ</label>
                    </div>
                </div>
               
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- list-group / end -->
    </div> <!-- row / end -->
    <div class="row">
        <section class="box-feather clear">
            <span>
                <div class="col-xs-12 col-sm-4 post-icon " itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <div class="col-xs-12 col-sm-12 post-thumbnail">
                        <a href="https://thuexesaigon.net/cho-thue-xe-4-cho.html">
                            <i class="fa fa-car" aria-hidden="true"></i>

                            <b>4</b>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 entry-header">
                        <h3 class="entry-title" itemprop="name">
                            <a href="https://thuexesaigon.net/cho-thue-xe-4-cho.html">Cho thuê xe 4 chỗ</a>
                        </h3>
                        <div class="date">
                            <span class="published updated">2017-05-24 06:42:45</span>
                        </div>
                        <div class="vcard author">
                            <a href="https://thuexesaigon.net/cho-thue-xe-4-cho.html">
                                <span class="fn" itemprop="author">Cho thuê xe 4 chỗ</span>
                            </a>
                        </div>
                        <div itemprop="articleBody" class="entry-excerpt">– &nbsp;Chúng tôi cho&nbsp;thuê xe&nbsp;4 chỗ&nbsp;chuyên nghiệp lâu năm tại tphcm, quí vị đi ít người nên gọi cho chúng tôi : 0908.171.777 để đựơc báo giá ngay lập tức nếu đi gấp và cần giá rẻ. Bên dưới là giá tham khảo. Lộ trình xe có tài xế Ngày thường (đơn vị tính: VNĐ) […]</div>
                        <a class="ow-button-hover" href="https://thuexesaigon.net/cho-thue-xe-4-cho.html"><span>Xem Chi Tiết</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 post-icon " itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <div class="col-xs-12 col-sm-12 post-thumbnail">
                        <a href="https://thuexesaigon.net/cho-thue-xe-7-cho.html">
                            <i class="fa fa-car"></i>
                            <b>7</b>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 entry-header">
                        <h3 class="entry-title" itemprop="name">
                            <a href="https://thuexesaigon.net/cho-thue-xe-7-cho.html">Cho thuê xe 7 chỗ</a>
                        </h3>
                        <div class="date">
                            <span class="published updated">2017-04-03 10:34:23</span>
                        </div>
                        <div class="vcard author">
                            <a href="https://thuexesaigon.net/cho-thue-xe-7-cho.html">
                                <span class="fn" itemprop="author">Cho thuê xe 7 chỗ</span>
                            </a>
                        </div>
                        <div itemprop="articleBody" class="entry-excerpt">&nbsp; Chúng tôi là&nbsp;công ty hoạt động nhiều năm trong lĩnh vực&nbsp;cho thuê xe tại&nbsp;TP.HCM. Chúng tôi&nbsp;cho&nbsp;thuê xe&nbsp;7 chỗ&nbsp;chuyên nghiệm, giá chuẩn nhất. Báo giá đi gấp hãy gọi : 0938.144.322 Lộ trình xe có tài xế Ngày thường (đơn vị tính: VNĐ) Stt Tuyến đường Thời gian giới hạn 1 ngày làm việc=10h Km&nbsp; […]</div>
                        <a class="ow-button-hover" href="https://thuexesaigon.net/cho-thue-xe-7-cho.html"><span>Xem Chi Tiết</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 post-icon " itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <div class="col-xs-12 col-sm-12 post-thumbnail">
                        <a href="https://thuexesaigon.net/cho-thue-xe-16-cho.html">
                            <i class="fa fa-car"></i>
                            <b>16</b>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 entry-header">
                        <h3 class="entry-title" itemprop="name">
                            <a href="https://thuexesaigon.net/cho-thue-xe-16-cho.html">Cho thuê xe 16 chỗ</a>
                        </h3>
                        <div class="date">
                            <span class="published updated">2017-04-03 10:33:31</span>
                        </div>
                        <div class="vcard author">
                            <a href="https://thuexesaigon.net/cho-thue-xe-16-cho.html">
                                <span class="fn" itemprop="author">Cho thuê xe 16 chỗ</span>
                            </a>
                        </div>
                        <div itemprop="articleBody" class="entry-excerpt">Cho thuê xe tại Tphcm: Là công ty hoạt động nhiều năm trong lĩnh vực&nbsp;cho thuê xe tại&nbsp;TP.HCM. Chúng tôi cho&nbsp;thuê xe&nbsp;4 chỗ, cho&nbsp;thuê xe&nbsp;7 chỗ, cho&nbsp;thuê xe&nbsp;16 chỗ, cho&nbsp;thuê xe&nbsp;29 chỗ,&nbsp;cho thuê&nbsp;xe 45&nbsp;chỗ&nbsp;tại tphcm&nbsp;,,,, phục vụ mọi nhu cầu đa dạng của bạn như: Thuê xe công tác, thuê xe tháng, thuê xe cưới […]</div>
                        <a class="ow-button-hover" href="https://thuexesaigon.net/cho-thue-xe-16-cho.html"><span>Xem Chi Tiết</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 post-icon " itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <div class="col-xs-12 col-sm-12 post-thumbnail">
                        <a href="https://thuexesaigon.net/cho-thue-xe-29-cho.html">
                            <i class="fa fa-bus"></i>
                            <b>29</b>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 entry-header">
                        <h3 class="entry-title" itemprop="name">
                            <a href="https://thuexesaigon.net/cho-thue-xe-29-cho.html">Cho thuê xe 29 chỗ</a>
                        </h3>
                        <div class="date">
                            <span class="published updated">2017-04-03 10:38:01</span>
                        </div>
                        <div class="vcard author">
                            <a href="https://thuexesaigon.net/cho-thue-xe-29-cho.html">
                                <span class="fn" itemprop="author">Cho thuê xe 29 chỗ</span>
                            </a>
                        </div>
                        <div itemprop="articleBody" class="entry-excerpt">hotline : 1900.545.447 Là công ty hoạt động nhiều năm trong lĩnh vực&nbsp;cho thuê xe tại&nbsp;TP.HCM. Chúng tôi cho&nbsp;thuê xe&nbsp;4 chỗ, cho&nbsp;thuê xe&nbsp;7 chỗ, cho&nbsp;thuê xe&nbsp;16 chỗ, cho&nbsp;thuê xe&nbsp;29 chỗ,&nbsp;cho thuê&nbsp;xe 45&nbsp;chỗ&nbsp;tại tphcm&nbsp;,,,, phục vụ mọi nhu cầu đa dạng của bạn như: Thuê xe công tác, thuê xe tháng, thuê xe cưới hỏi, thuê […]</div>
                        <a class="ow-button-hover" href="https://thuexesaigon.net/cho-thue-xe-29-cho.html"><span>Xem Chi Tiết</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 post-icon " itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <div class="col-xs-12 col-sm-12 post-thumbnail">
                        <a href="https://thuexesaigon.net/cho-thue-xe-45-cho.html">
                            <i class="fa fa-bus"></i>
                            <b>45</b>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 entry-header">
                        <h3 class="entry-title" itemprop="name">
                            <a href="https://thuexesaigon.net/cho-thue-xe-45-cho.html">Cho thuê xe 45 chỗ</a>
                        </h3>
                        <div class="date">
                            <span class="published updated">2017-04-03 10:37:51</span>
                        </div>
                        <div class="vcard author">
                            <a href="https://thuexesaigon.net/cho-thue-xe-45-cho.html">
                                <span class="fn" itemprop="author">Cho thuê xe 45 chỗ</span>
                            </a>
                        </div>
                        <div itemprop="articleBody" class="entry-excerpt">Bảng giá thuê xe 45 chỗ : Lộ trình xe có tài xế Ngày thường (đơn vị tính: VNĐ) Stt Tuyến đường Thời gian giới hạn 1 ngày làm việc=12h/ngày Km&nbsp; dự tính 45 chỗ cuối tuần 34 chỗ cộng thêm 1 Bà Rịa 1 ngày 220 4.500.000 2 Bạc Liêu 1 ngày, 1 đêm […]</div>
                        <a class="ow-button-hover" href="https://thuexesaigon.net/cho-thue-xe-45-cho.html"><span>Xem Chi Tiết</span></a>
                    </div>
                </div>
            </section>
        </div> <!-- container / end -->

